.card-manga{
    width:110px;

    display:flex;
    flex-direction:column;

    cursor:pointer;

    transition:.2s;
}

.card-manga:hover{
    transform:scale(1.05);
}

.card-manga-capa{
    width:110px;
    height:155px;

    object-fit:cover;

    border-radius:8px;
}

.card-manga-volumes{
    margin-top:-28px;

    align-self:flex-end;

    padding:2px 8px;

    background:#6A4935;

    color:white;

    border-radius:8px 0 8px 0;

    font-size:.75rem;

    font-weight:600;
}

.card-manga-titulo{
    margin-top:8px;

    font-size:.9rem;

    font-weight:600;

    color:#2D2D2D;

    overflow:hidden;
    text-overflow:ellipsis;

    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}