.link-navegacao {
    display: flex;
    align-items: center;
    gap: 12px;

    color: #f8e8c8;
    text-decoration: none;

    font-size: 1.8rem;
    font-weight: 500;

    padding: 8px 0;

    transition: all 0.2s ease;
}

.link-navegacao:hover {
    background-color: #feddae;
    color: #614030;

    padding-left: 5px; 

    border-radius: 15px;
    border-right: 2px solid #614030;
    box-shadow: 2px 2px 4px #614030;
}

